.detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

#left,
#right {
  width: 10rem;
  height: 1.75rem;
  margin: 1rem 2rem;
}

#right {
  transform: scale(-1, -1);
}

#title {
  font-family: "Magnolia Sky", sans-serif;
  font-size: 2.5rem;
}

@media screen and (max-width: 425px) {
  .detail {
    text-align: center;
  }
  .detail img {
    display: none;
  }

  #title {
    font-size: 2.7rem;
  }
}
